DB_NAME=mixafrica_test
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres

PORT=3004

CLOUDINARY_API_KEY=test_api_key
CLOUDINARY_API_SECRET=test_api_secret
CLOUDINARY_CLOUD_NAME=test_cloud_name

access_token_secret=test_access_token_secret
refresh_token_secret=test_refresh_token_secret

CORS_ORIGINS="http://localhost:8081
http://127.0.0.1:8081
http://localhost:3000
http://127.0.0.1:3000"
